{% extends "auth/layoutAuthForm.html" %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}
<br>
{{super()}}

{% endblock %}

{% block headerName %}<h3 class="text-center text-color">Editar Datos</h3>{% endblock %}
{% block cardBody %}

<form id="editPassForm" method="POST">
    <div class="row" id="columna">
        {% if user.id == myid %}
            <div class="form-group col-md-12">
                <label for="password" class="col-form-label text-color">Contraseña Actual</label>
                <input id="actPasswordInput" class="form-control" type="password" name="actpassword" value="" >
            </div>
        {% endif %}
        <div class="form-group col-md-12">
            <label for="password" class="col-form-label text-color">Contraseña Nueva</label>
            <input id="newPasswordInput" class="form-control" type="password" name="newpassword" value="" >
        </div>
    </div>
    <br>
    <div class="d-flex">
        <div class="col-md-6" style="padding: 5px;">
            <button type="button" class="btn btn-md btn-primary col-md-12" onclick="updatePassword()">
                Actualizar
            </button>
        </div> 
        <div class="col-md-6" style="padding: 5px;">
            <a class="btn btn-md btn-danger col-md-12" onclick="back()">
                Cancelar
            </a>
        </div> 
    </div>
</form>
<div class="fixed-bottom d-flex justify-content-end" style="width: 30%; z-index: 1 !important; ">
    <div id="wrongPassword" class="alert alert-danger alert-dismissible fade" style="width: 100%;" role="alert">
        <strong>Contraseña incorrecta</strong> Verifique si la ingreso correctamente.
    </div>
</div>
<div class="fixed-bottom d-flex justify-content-end" style="width: 30%; z-index: 1 !important; ">
    <div id="Actualizado" class="alert alert-success alert-dismissible fade" style="width: 100%;" role="alert">
        <strong> Se actualizo! </strong>
    </div>
</div>           

<script>
    function validateForm() {
        console.log("0");
        let form = $("#editPassForm").serializeArray()
        for (let i = 0; i < form.length; i++) {
            const element = form[i];
            if (element.value == "") {
                alert("no puede haber campos vacios")
                console.log(form);
                return false;
            }
        }
        return true;
    }
    function updatePassword() {
        if (!validateForm()) {
            return false;
        }
        var idUsuario = "{{ user.id }}";
        var myid = "{{ myid }}";
        let formData = JSON.stringify($("#editPassForm").serializeJSON());
        let data;
        try {
            data = $.extend({}, JSON.parse(formData), { idUsuario });
        } catch (error) {
            console.log(error);
            data = $.extend({}, JSON.parse(formData), { idUsuario });
        }
        if (idUsuario == myid) {
            $.ajax({url: "{{ url_for('mypassword_update') }}", type: "PUT", data}).done(response => {
                if (response == "contrIncorrecta") {
                    $('#wrongPassword').addClass('show')
                    setTimeout(() => { $('#wrongPassword').removeClass('show') }, 1500)
                } else if(response == 'Actualizado'){
                    $('#Actualizado').addClass('show')
                    setTimeout(() => { $('#Actualizado').removeClass('show') }, 1500)
                } else {
                    console.log("respuesta = "+response);
                }
            })
        } else {
            $.ajax({url: "{{ url_for('password_update') }}", type: "PUT", data}).done(response => {
                if (response == "contrIncorrecta") {
                    $('#wrongPassword').addClass('show')
                    setTimeout(() => { $('#wrongPassword').removeClass('show') }, 1500)
                } else if(response == 'Actualizado'){
                    $('#Actualizado').addClass('show')
                    setTimeout(() => { $('#Actualizado').removeClass('show') }, 1500)
                    window.location = "{{ url_for('user_index') }}";
                } else {
                    console.log("respuesta = "+response);
                }
            })
        }        
    }
    function back(){
        history.go(-1);
    }
</script>


{% endblock %}